<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', user.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="email" class="control-label">email</label>
  <div class="controls">
    <%- contentTag('input', user.email, {type:'text', class:'span6', name:'email'}) %>
  </div>
</div>
